# Cypress
cypress/downloads/
cypress/screenshots/
cypress/videos/
cypress/results/
cypress/reports/
TestReport/
mochawesome-report/

# Dependências
node_modules/
package-lock.json
yarn.lock

# Arquivos de ambiente
.env
.env.*
.env.local

# Arquivos de sistema
.DS_Store
Thumbs.db

# Logs e relatórios
*.log
*.tmp
result.json